<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Chat App</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="landing-page.css" />
    <!-- Include the specific CSS file -->
  </head>
  <body class="landing-page">
    <div class="landing-container">
      <h1>Welcome to the Video Chat App</h1>
      <a href="/create" class="landing-button">Create a Room</a>
      <a href="/join" class="landing-button">Join a Room</a>
    </div>
  </body>
</html>
